{"deploy_url":"https:\/\/admin.brizy.io","preview_url":"https:\/\/anteater87cf47d8.brizy.site","app_id":"87cf47d8c3c956c167048ff104280089604d107e4fa63c7dfdc9ab08bca516f2","version":2,"amazon_s3_editor_build_url":"https:\/\/b-cloud.becdn.net","media_url":"https:\/\/cloud-1de12d.becdn.net","allowed_query_params":"native_url|source_url|page|protected_page|system_page|force_open|token|ekk|mc","sync_project_version":"1.14"}